<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FindMapper">	
 	
	<resultMap id="userSelectMap" type="com.destiny.service.domain.User">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 		column="password" 			jdbcType="VARCHAR" />
		<result property="nickName"			column="nick_name" 			jdbcType="VARCHAR" />
		<result property="userGrade"		column="user_grade" 		jdbcType="CHAR"/>
		<result property="email" 			column="email" 				jdbcType="VARCHAR" />
		<result property="birthday" 		column="birthday" 			jdbcType="DATE" />
		<result property="address" 			column="address" 			jdbcType="VARCHAR" />
		<result property="profile" 			column="profile_img" 		jdbcType="VARCHAR" />
		<result property="gender" 			column="gender" 			jdbcType="CHAR" />
		<result property="phone" 			column="phone" 				jdbcType="VARCHAR" />
		<result property="attendCount" 		column="attend_count" 		jdbcType="INTEGER" />
		<result property="lastLoginDay" 	column="last_login_day" 	jdbcType="DATE" />
		<result property="warningCount" 	column="warning_count" 		jdbcType="INTEGER" />
		<result property="myType" 			column="my_type" 			jdbcType="NUMERIC" />
		<result property="firstType" 		column="first_type" 		jdbcType="NUMERIC" />
		<result property="secondType" 		column="second_type" 		jdbcType="NUMERIC" />
		<result property="thirdType" 		column="thrid_type" 		jdbcType="NUMERIC" />
		<result property="firstInterest" 	column="first_interest" 	jdbcType="NUMERIC" />
		<result property="secondInterest" 	column="second_interest" 	jdbcType="NUMERIC" />
		<result property="thirdInterest" 	column="third_interest" 	jdbcType="NUMERIC" />			
	</resultMap>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUserResult"	parameterType="com.destiny.service.domain.Find" resultType="int">
		SELECT COUNT(*)
		 FROM users 
		 WHERE gender = #{selectGender}
	 </select>
	 
	 
</mapper>